@import "./mixins.scss";
@import "./variables.scss";
@import "./keyframes.scss";
.showdown__center {
  display: flex;
  justify-content: center;
  font-family: "Moderat";
  margin-bottom: 70px;
  margin-top: 30px;
}
.firstStoryPage {
  padding: 200px 60px;
  overflow: auto;

  overflow-x: hidden;
  // .firstStoryPage__box
  &__box {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    @include adaptiv-value("row-gap", 270, 60, 1);
  }
  @media (max-width: (768px)) {
    padding: 100px 10px;
  }
}
.fifth {
  width: 90vw;
  display: flex;
  justify-content: center;
  margin-top: -80px;
  @media (max-width: (768px)) {
    margin-top: 0px;
    width: 100%;
  }
}
.fifth__box__text {
  margin-top: 30px;
}
.fifth__box__wake {
  font-size: 32px;
  margin-top: 60px;
}
.fifth__box {
  max-width: 800px;
  width: 70vw;
  @media (max-width: (768px)) {
    text-align: center;
    width: 100%;
  }
}
.forth__img {
  margin-top: -400px;
  @media (max-width: (1268px)) {
    margin-top: -100px;
  }
  @media (max-width: (768px)) {
    margin-top: 0px;
  }
}
.forth {
  img {
    max-width: 100vw;
    @media (max-width: 768px) {
      display: none;
    }
  }
}
.forth__box {
  text-align: center;
  max-width: 100%;
  display: flex;
  justify-content: center;

  p {
    max-width: 665px;
    width: 45vw;
    text-align: center;
    margin-top: -60px;
    @media (max-width: 768px) {
      width: 100%;
      margin-top: 0px;
    }
  }
}
.modern__image {
  position: absolute;
  height: 600px;
}

.showdown {
  // .showdown__title

  &__title {
    font-family: "ApocLCLight";
    font-size: 108px;
    img {
      display: inline-block;
      height: 104px;
      width: 59px;
      margin-right: 8px;
      @media (max-width: 768px) {
        height: 60px;
      }
    }
    span {
      font-family: "Nostra";
      font-style: italic;
      font-size: 80px;
      line-height: 1;
      @media (max-width: 768px) {
        font-size: 40px;
      }
    }
    &:not(:last-child) {
      @include adaptiv-value("margin-bottom", 75, 40, 1);
    }
    @media (max-width: 768px) {
      font-size: 40px;
    }
  }
  // .showdown__grid
  &__grid {
    display: grid;
    align-items: start;
    align-content: start;
    gap: 20px;
    &:not(:last-child) {
      @include adaptiv-value("margin-bottom", 150, 70, 1);
    }
    @media (min-width: ($md1+px)) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  // .showdown__bigText
  &__bigText {
  }
  // .showdown__littleText
  &__littleText {
    br {
      display: none;
    }
    @media (min-width: ($md1+px)) {
      br {
        display: block;
      }
      @include adaptiv-value("margin-left", 65, 0, 1);
    }
  }

  // .showdown__image
  &__image {
    margin: auto 0px;
    position: relative;
    width: 100%;
    min-height: 600px;
    padding-bottom: 37%;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
      object-position: center;
    }
  }
}
.third__box {
  max-width: 100%;
}
.third__image {
  display: flex;
  flex-direction: column;
  div {
    font-family: "ApocLCLight";
    font-size: 20px;
    margin-top: 30px;
    font-style: italic;
  }
  img {
    max-width: 100%;
    @media (max-width: ($md3+px)) {
      margin-top: 40px;
    }
  }
  max-width: 100%;
}
.third__content {
  @media (min-width: ($md1+px)) {
    @include adaptiv-value("margin-right", 40, 0, 1);
    @include adaptiv-value("margin-left", 0, 0, 1);
  }

}
.third__grid {
  display: grid;
  grid-template-columns: 1fr 420px;
  column-gap: 20px;
  @media (max-width: ($md3+px)) {
    grid-template-columns: 1fr;
  }
}
.ride__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  @media (max-width: ($md3+px)) {
    grid-template-columns: 1fr;
  }
}
.ride__image_text {
  margin-top: 30px;
}
.ride__image {
  width: 100%;
  margin-top: 20px;
}
.ride__image_opeansea {
  width: 20px;
  height: 20px;
  align-self: flex-end;
  margin-top: -35px;
  margin-right: 15px;
}
.forth__text {
  margin-top: -500px;
  @media (max-width: (768px)) {
    margin-top: 0px;
  }
}
.gatherer {
  // .gatherer__grid
  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    @media (max-width: ($md3+px)) {
      display: flex;
      flex-direction: column;
    }
  }
  &__grid2 {
    display: grid;
    grid-template-columns: 0.8fr 1.1fr;
    column-gap: 20px;
    @media (max-width: ($md3+px)) {
      display: flex;
      flex-direction: column;
    }
  }
  // .gatherer__image
  &__image {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    &_in {
      max-width: 100%;
    }
    &_modern {
      max-width: 100%;
      height: 430px;
      width: 525px;
      object-fit: cover;
    }
    &_rider {
      width: 100%;
      min-height: 420px;
      object-fit: cover;
    }
    &_opeansea {
      width: 20px;
      height: 20px;
      align-self: flex-end;
      margin-top: -35px;
      margin-right: 15px;
    }
    div {
      font-family: "ApocLCLight";
      font-size: 20px;
      margin-top: 30px;
      font-style: italic;
    }
    @media (min-width: ($md1+px)) {
      @include adaptiv-value("margin-right", 0, 0, 1);
      @include adaptiv-value("margin-left", 0, 0, 1);
    }
  }
  // .gatherer__content
  &__content {
  }
  // .gatherer__title
  &__title {
    padding-left: 10px;
    font-family: "ApocLCLight";
    &:not(:last-child) {
      @include adaptiv-value("margin-bottom", 60, 30, 1);
    }
    @media (max-width: ($md3+px)) {
      padding-left: 0px;
    }
  }
  .gatherer__text {
    opacity: 0.5;
  }
  // .gatherer__box
  &__box {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    @include adaptiv-value("row-gap", 50, 20, 1);
    p {
      &:nth-child(2) {
        max-width: 508px;
      }
      @media (max-width: ($md1+px)) {
        br {
          display: none;
        }
      }
    }
    @media (max-width: ($md3+px)) {
      padding-left: 0px;
    }
  }
}

.rider {
  display: flex;
  flex-direction: column;
  row-gap: 70px;
  // .rider__grid
  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
  }
  // .rider__cell
  &__cell {
    grid-column: 1/3;
    @media (min-width: ($md1+px)) {
      grid-column: 2/3;
    }
  }
  // .rider__title
  &__title {
    &:not(:last-child) {
      @include adaptiv-value("margin-bottom", 60, 30, 1);
    }
  }
  // .rider__image
  &__image {
    margin: 0px auto;
    @media (min-width: ($md1+px)) {
      margin-right: 0;
      @include adaptiv-value("margin-left", 105, 0, 1);
    }
    img {
      max-width: 100%;
    }
  }
}
