// @font-face {
// 	font-family: "CODE_PRO_LC";
// 	font-display: swap;
// 	src: url("/fonts/CODE_PRO_LC/CODE_PRO_LC.woff2") format("woff2"),
// 		url("/fonts/CODE_PRO_LC/CODE_PRO_LC.woff") format("woff");
// 	font-weight: 400;
// 	font-style: normal;
// }
@font-face {
	font-family: "DMSans-Semibold";
	font-display: swap;
	src: url("/fonts/DMSansSemiBold/DMSans-SemiBold.woff2") format("woff2"),
		url("/fonts/DMSansSemiBold/DMSans-SemiBold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "DMSans";
	font-display: swap;
	src: url("/fonts/DMSans/DMSans-Regular.woff2") format("woff2"),
		url("/fonts/DMSans/DMSans-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "ApocLC";
	font-display: swap;
	src: url("/fonts/ApocLC/ApocLC.woff2") format("woff2"), url("/fonts/ApocLC/ApocLC.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Moderat";
	font-display: swap;
	src: url("/fonts/Moderat/ModeratLight.woff2") format("woff2"), url("/fonts/Moderat/ModeratLight.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "Nostra";
	font-display: swap;
	src: url("/fonts/Nostra/Nostra.woff2") format("woff2"), url("/fonts/Nostra/Nostra.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
