.gallery__container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  width: 100vw;
}
.gallery__container__one {
  display: flex;
  justify-content: center;
  width: 100vw;
}
.gallery__char {
  margin-bottom: 15px;
  color: #d9d9d9;
  font-family: "ApocLCLight";
  display: flex;
  align-items: center;
  img {
    margin-left: 10px;
    width: 15px;
    opacity: 0.7;
    height: 15px;
  }
  @media (max-width: 768px) {
    padding-left: 25px;
  }
}
.gallery__loader {
  position: absolute;
  transform: translateX(80px) translateY(-130px);
}
.gallery__loader__big {
  position: absolute;
  transform: translateX(190px) translateY(-250px);
  z-index: 1;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: #1c1c1c;
  // max-width: 1358px;
  max-width: 910px;
  width: 100vw;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  @media (max-width: 1430px) {
    max-width: 910px;
  }
}
.gallery__name {
  font-size: 42px;
  font-family: "ApocLC";
  margin-bottom: 20px;
  font-style: italic;
  font-weight: 600;
}
.gallery__wake {
  width: 100%;
  background-color: #3c3c3c;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "ApocLCLight";
  font-size: 12px;
  height: 24px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.gallery__stats {
  font-size: 12px;
  color: #ff6f26;
}
.gallery__stats__dots {
  border-bottom: 1px dotted #ff6f26;
}
.gallery__story {
  color: #d9d9d9;
  font-family: "ApocLCLight";
  margin-bottom: 20px;
  margin-top: 30px;
}
.gallery__detail {
  width: 100%;
  height: 24px;
  background-color: #3c3c3c;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 13px;
  border-radius: 5px;
  margin-top: 30px;
}
.gallery__second__row {
  color: white;
}
.gallery__second__dots {
  border-bottom: 1px dotted white;
}
.gallery__stats__row {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  grid-template-rows: 1fr;
  width: 100%;
  margin-bottom: 10px;
}
.gallery__row {
  display: flex;
  justify-content: flex-start;
  font-size: 12px;
  font-family: "ApocLC";
  margin-bottom: 20px;
  div {
    margin-right: 8px;
    border: 1px solid #c4c4c4;
    cursor: pointer;
    width: 60px;
    height: 16px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  svg {
    margin-right: 8px;
  }
  @media (max-width: 768px) {
    padding-left: 25px;
  }
}
.gallery__one {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  background-color: #1c1c1c;
  max-width: 1358px;
  width: 100vw;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  .gallery__img {
    width: 426px;
    object-fit: contain;
    object-position: top;
    margin-right: 0px;
    border-radius: 10px;
  }
  @media (max-width: 1430px) {
    max-width: 910px;
  }
  @media (max-width: 850px) {
    flex-direction: column;
    width: 380px;
    .gallery__img {
      width: 100%;
    }
  }
}
.gallery__soon {
  width: 100%;
  @media (max-width: 850px) {
    width: 320px;
  }
}
.gallery__right {
  @media (max-width: 1430px) {
    display: none;
  }
}
.gallery__active {
  background-color: #404040;
}
.gallery__others {
  margin-top: 0px !important;
  width: 460px;
  padding: 0px;
  padding-left: 30px;
  border-left: 1px solid #999999;
  border-radius: 0px;
  max-height: 600px;
  overflow-y: scroll;
  @media (max-width: 1430px) {
    display: none;
  }
  &::-webkit-scrollbar {
    width: 5px;
  }
}
.gallery__info {
  width: 338px;
  @media (max-width: 850px) {
    margin-top: 30px;
    width: 320px;
  }
}
.gallery__item {
  width: 192px;
  height: 269px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
  img {
    width: 100%;
    height: 228px;
    border-radius: 5px;
  }
  p {
    font-size: 20px;
    margin-top: 10px;
  }
  @media (max-width: 500px) {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
