@import "./mixins";
@import "./variables";
@import "./keyframes";
.first {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.inactive {
  opacity: 0;
  pointer-events: none;
  z-index: -650000;
}
.back {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 140px;
  height: 60px;
  cursor: pointer;
  top: 25px;
  left: 60px;
  div {
    margin-top: 12px;
  }
  @media (max-width: 850px) {
    width: 120px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    div {
      margin-top: 0px;
    }
    svg {
      display: none;
    }
  }
}
.last {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  &:last-child {
    &::after {
      display: none;
    }
  }
}
.header {
  pointer-events: none;
  position: fixed;
  width: calc(100vw - 120px);
  z-index: 10;
  top: 0;
  right: 60px;
  padding: 25px 0;
  @media (max-width: ($md2+px)) {
    padding: 16px 0;
    right: 24px;
    width: calc(100vw - 48px);
  }
  // .header__line
  &__line {
    @media (max-width: ($md2+px)) {
      // display: none !important;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  // .header__actions
  &__actions {
    pointer-events: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @media (max-width: ($md2+px)) {
      display: none !important;
    }
  }
  // .header__active
  &__active {
    color: #75fff4 !important;
    background-color: #1a1a1a !important;
  }
  &__disabled {
    color: #757575 !important;
    pointer-events: none;
  }
  // .header__menu
  &__menu {
    cursor: pointer;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: #fff;
    font-family: "Moderat";
    font-size: 12px;
    background-color: #212121;
    width: 95px;
    &::after {
      content: "";
      position: absolute;
      height: 20px;
      width: 1px;
      background-color: rgba(237, 237, 237, 0.4);
      transform: translateX(47px);
    }
    span {
      flex: 0 0 20px;
      padding: 2px 0;
    }
    &:hover {
      color: #75fff4;
    }
  }
  // .header__connect
  &__connect {
    @media (min-width: ($md2+px)) {
      height: 48px;
      width: 180px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      span {
        display: flex;
        align-items: center;
        flex: 0 0 46px;
      }
    }
  }
  // .header__eye
  &__eye {
    transform-origin: center;
    animation: rotateEye 3s infinite linear;
  }
}
.wrapcast {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #fff;
  font-family: "Moderat";
  background-color: #212121;
  border-radius: 20px;
  padding: 7px;
  padding-left: 30px;
  img {
    margin-left: 15px;
    width: 21px;
    height: 21px;

    border-radius: 100%;
    object-fit: cover;
  }
}

.headerBurger {
  &__act {
    display: flex;
    align-items: center;
    @media (max-width: 990px) {
      display: none;
    }
  }
  @media (min-width: ($md2+px)) {
    display: none;
  }
  cursor: pointer;
  pointer-events: fill;
  display: block;
  position: relative;
  width: 94px;
  height: 35px;
  // .headerBurger__box
  &__box {
    width: 20px;
    height: 16px;
    z-index: 5;
    background-color: #212121;
    width: 94px;
    height: 35px;
    border-radius: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Moderat";
    font-size: 12px;
    &:hover {
      color: #75fff4;
    }
    // span {
    //   transition: all 0.3s ease 0s;
    //   top: calc(50% - 1px);
    //   left: 0px;
    //   position: absolute;
    //   width: 100%;
    //   height: 2px;
    //   background-color: #fff;
    //   &:first-child {
    //     top: 0px;
    //   }
    //   &:last-child {
    //     top: auto;
    //     bottom: 0px;
    //   }
    // }
    &_active {
      span {
        transform: scale(0);
        &:first-child {
          transform: rotate(-45deg);
          top: calc(50% - 1px);
        }
        &:last-child {
          transform: rotate(45deg);
          bottom: calc(50% - 1px);
        }
      }
    }
  }
}

.menu {
  pointer-events: auto;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  opacity: 0;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(12px);
  display: flex;
  justify-content: center;
  align-items: center;

  &.fadeEnter {
    transition: opacity 0.5s ease 0s;
    opacity: 0;
  }
  &.fadeEnterActive {
    opacity: 1;
  }
  &.fadeEnterDone {
    opacity: 1;
  }
  &.fadeExit {
    transition: opacity 0.2s ease 0s;
    opacity: 1;
  }
  &.fadeExitActive {
    opacity: 0;
  }
  // .menu__list
  &__list {
    display: flex;
    flex-direction: column;
    @include adaptiv-value("row-gap", 85, 30, 1);
  }
  // .menu__item
  &__item {
    cursor: pointer;
    font-size: 80px;
    line-height: 120%;
    letter-spacing: 0.05em;
    color: inherit;
    opacity: 0.5;
    text-transform: uppercase;
    text-align: center;
    @media (any-hover: hover) {
      transition: opacity 0.5s ease 0s;
      &:hover {
        opacity: 1;
      }
    }
    // .menu__item_active
    &_active {
      opacity: 1;
      position: relative;
      &:before {
        pointer-events: none;
        content: "";
        position: absolute;
        width: 50%;
        height: 2px;
        top: calc(100% + 30px);
        left: 50%;
        transform: translateX(-50%);
        background: url("../public/icons/headerItemDecor.svg") 0 0 / cover
          no-repeat;
      }
    }
  }
  // .menu__close
  &__close {
    cursor: pointer;
    position: fixed;
    top: 60px;
    right: 60px;
    width: 32px;
    height: 32px;
    overflow: hidden;
    & > span {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      &:last-child {
        opacity: 0;
      }
    }
    @media (any-hover: hover) {
      & > span {
        transition: opacity 0.5s ease 0s;
      }

      &:hover {
        & > span {
          &:first-child {
            opacity: 0;
          }
          &:last-child {
            opacity: 1;
          }
        }
      }
    }
  }
  // .menu__box
  &__box {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 65px 1fr auto;
  }
  // .menu__head
  &__head {
    padding: 16px 24px 16px 24px;
    cursor: pointer;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  // .menu__title
  &__title {
    line-height: 32px;
    font-size: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #ffffff;
  }
  // .menu__main
  &__main {
    position: relative;
    overflow-x: hidden;
    padding: 40px 16px 45px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }
  // .menu__route
  &__route {
    cursor: pointer;
    font-size: 44px;
    line-height: 110%;
    letter-spacing: 0.12em;
    color: #ffffff;
  }
  // .menu__info
  &__info {
    position: absolute;
    bottom: 24px;
    left: 16px;
  }
  // .menu__footer
  &__footer {
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;

    position: relative;
    &:before {
      content: "";
      position: absolute;
      width: calc(100% - 32px);
      height: 1px;
      top: 0;
      left: 16px;
      background: #fff;
    }
  }
}
