.main__page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url("../public/mintbg.png");
  color: white;
  padding-top: 70px;
  padding-bottom: 30px;
  @media (max-width: 768px) {
    padding-top: 120px;
    justify-content: flex-start;
  }
}
.main__second__layer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  top: 0;
  z-index: -1;
  opacity: 0.6;
}
.main__bottom {
  display: flex;
  height: 200px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  @media (max-width: 768px) {
    height: auto;
    justify-content: flex-start;
  }
}
.main__text {
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 400;
  max-width: 568px;
  text-align: center;
  line-height: 24.37px;
  @media (max-width: 768px) {
    // display: none;
    font-size: 12px;
    line-height: 20px;
    max-width: 318px;
  }
}
