@import "./mixins.scss";
@import "./variables.scss";
@import "./keyframes.scss";

.sleeping {
	// .sleeping__art
	&__art {
		position: absolute;
		// z-index: 1;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		& > img,
		& > video {
			pointer-events: none;
			position: absolute;
			width: 105vw;
			height: 115vh;
			top: -7.5vh;
			left: -2.5vw;
			object-fit: cover;
			object-position: center;
		}
		& > svg {
			position: absolute;
			z-index: 1;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			@media (max-width: ($md2+px)) {
				display: none !important;
			}
		}
		// .sleeping__art_1
		&_1 {
			clip-path: url("#svgPath");
			& > svg {
				circle {
					&:nth-child(1) {
						r: 10%;
					}
					&:nth-child(2) {
						r: 30%;
					}
					&:nth-child(3) {
						r: 5%;
					}
				}
			}
		}
		// .sleeping__art_2
		&_2 {
			clip-path: url("#svgPath2");
			& > svg {
				circle {
					&:nth-child(1) {
						r: 5%;
					}
					&:nth-child(2) {
						r: 30%;
					}
					&:nth-child(3) {
						r: 8%;
					}
				}
			}
		}
	}
	// .sleeping__video
	&__video {
		// animation: upDownAnimate 6s infinite linear;
	}
	// .sleeping__pulse
	&__pulse {
		&_1 {
			animation: neonPulse 4s infinite ease-in;
		}
		&_2 {
			animation: neonPulse 3s infinite ease-in-out;
		}
		&_3 {
			animation: neonPulse 3.3s infinite ease-in;
		}
		&_4 {
			animation: neonPulse 2.5s infinite ease;
		}
		&_5 {
			animation: neonPulse 4s infinite ease-in;
		}
		&_6 {
			animation: wheelsPulse 3s infinite ease-in;
		}
	}
	// .sleeping__stone
	&__stone {
		pointer-events: fill;
		cursor: pointer;
		position: absolute;
		max-width: 42px;
		width: 5vw;
		bottom: 35%;
		right: 3%;
		z-index: 300;
		@media (max-width: ($md2+px)) {
			display: none;
		}
		img {
			max-width: 100%;
		}
	}
}

.sleepingEye {
	position: absolute;
	z-index: 3;
	top: 5vh;
	left: calc(50% - 75px);
	width: 150px;
	height: 150px;
	@media (max-width: ($md2+px)) {
		left: calc(50% - 60px);
		width: 120px;
		height: 120px;
	}
	svg {
		position: relative;
		cursor: pointer;
	}
	&:before {
		content: "";
		position: absolute;
		border-radius: 50%;
		width: 300%;
		height: 300%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: radial-gradient(circle, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 70%);
	}

	@media (max-width: ($md3+px)) {
		top: 13vh;
		left: calc(50% - 50px);
		width: 100px;
		height: 100px;
	}
	// .sleepingEye_second
	&_second {
		width: 80px;
		height: 80px;
		top: 25vh;
		left: calc(50% - 40px);
		@media (max-width: ($md2+px)) {
			top: 28vh;
			left: calc(50% - 35px);
			width: 70px;
			height: 70px;
		}
		// animation: upDownAnimateEye 6s infinite linear;
	}

	// .sleepingEye__pupil
	&__pupil {
		@media (any-hover: none) {
			transition: transform 1s ease 0s;
		}
	}
}
