@use "sass:math";
//<МИКСИНЫ И ПЕРЕМЕННЫЕ>===============================================================================================

@import "mixins";
@import "variables";

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
// @import url("https://fonts.googleapis.com/css?family=Poppins:400&display=swap");
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";

body {
	// overflow: hidden;
	background: rgb(0, 0, 0);
	// background: lightcoral;
	color: $mainColor;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper,
#__next {
	width: 100vw;
	height: 100%;
	overflow: hidden !important;
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	width: 100%;
	// @media (max-width: ($md1+px)) {
	// 	max-width: 970px;
	// }
	// @media (max-width: ($md2+px)) {
	// 	max-width: 750px;
	// }
	@media (max-width: ($md3+px)) {
		max-width: none;
		padding: 0 10px;
	}
}
//</ОСНОВНАЯ СЕТКА>======================================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
// @import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
// @import "popup";
// @import "header";
// @import "footer";
// @import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================

main {
	// position: fixed;
	// top: 0;
	// left: 0;
	// width: 100%;
	// margin-right: -17px;
	// will-change: transform;
	// @media (any-hover: none) {
	// 	overflow-x: hidden;
	// 	height: 100%;
	// }
	// overflow: hidden !important;
}
section {
	min-height: 100vh;
	width: 100%;
	will-change: transform;
	overflow: hidden;
	@media (min-width: ($md2+px)) {
		height: 100vh;
	}
}

//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
